@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
  background-color: hsl(0, 0%, 95%);
}
.link{
    color: black;
    background: white;
    padding: 2px 8px;
    top: 0;
    cursor: pointer;
    margin-bottom: 2rem;
    border-radius: 30px;
}
.link:hover{
    background-color: rgb(251, 255, 0);
    color: black;
}
.Box{
    
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;

    
}

.box-1{
  background-color: hsl(31, 77%, 52%);
  height: 450px;
  max-width: 17rem;
  padding: 2.5rem;
  position: relative;
  border-radius: 10px 0px 0px 10px;
}

.box-2{
  background-color: hsl(184, 100%, 22%);
  height: 450px;
  max-width: 17rem;
  padding: 2.5rem;
  position: relative;
  
}
.box-3{
    background-color: hsl(179, 100%, 13%);
    height: 450px;
    max-width: 17rem;
    padding: 2.5rem;
    position: relative;
    border-radius: 0px 10px 10px 0px;
    
}



.item{
    
    min-height: 25rem;
    max-width: 17rem;
    padding: 2.5rem;
    position: relative;
    border-radius: 10px;
}


.image{
    margin-bottom: 1.5rem;
   
}


h1{
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
}

p{
    color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    margin-top: 1.5rem;
    margin-bottom: 6rem;
}
 .btn1,.btn2,.btn3{
    width: 50%;
    height: 40px;
    position: absolute;
    background: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
    text-align: center;
    padding: 12px 18px;
    bottom: 0;
    margin-bottom: 2rem;
    border-radius: 30px;
    color: hsl(184,100%,22%);
    cursor: pointer;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400px;
}


.btn1{
    color: hsl(31, 77%, 52%);
}
.btn1:hover{
  background-color: transparent;
  color: hsl(0, 0%, 95%);
}
.btn2{
    color: hsl(184, 100%, 22%);
}
.btn2:hover{
  background-color: transparent;
  color: hsl(0, 0%, 95%);
}
.btn2{
    color: hsl(179, 100%, 13%);
}
.btn3:hover{
    background-color: transparent;
    color: hsl(0, 0%, 95%);
}


@media (max-width: 950px){
    .Box{
        flex-direction: column;
        padding: 5rem 0;
    }
    .box-1,.box-2,.box-3{
        min-width: 22rem;
    }
}